/* globals */

:root {
    --main-color: #01996D;
}


/* for navbar */

.navbar {
    background-color: white;
    /* display: flex; */
    box-shadow: 0px 0px 5px grey;
}

.navbar-brand {
    color: var(--main-color) !important;
    font-family: lato;
    font-size: 30px !important;
}

#contain {
    margin-right: auto;
    margin-left: auto;
}

#pricing {
    background-color: var(--main-color);
    color: white;
    text-transform: capitalize;
}

.pricing {
    background-color: var(--main-color);
    color: white;
    text-transform: capitalize;
}


/* banner section */

.banner {
    position: relative;
}

img {
    width: 100%;
}

.banner-text>header {
    font-family: Georgia;
    line-height: 60px;
    font-size: 70px;
    font-weight: bold;
    font-style: normal;
}

.banner-text {
    position: absolute;
    top: 130px;
    /* margin-left: 20px; */
}

.banner-text>p {
    font-family: lato;
    margin-top: 30px;
    font-size: 18px;
}

#banner-button {
    margin-top: 20px;
    background-color: #fff !important;
    color: var(--main-color)
}


/* hpw it works */

.parent {
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    grid-template-rows: 1fr;
    grid-column-gap: 1px;
    grid-row-gap: 0px;
}

.works {
    margin-top: 141px;
}

.left>p {
    font-family: Georgia;
    font-weight: bold;
    font-size: 50px;
    line-height: 157%;
    color: var(--main-color);
}

.right>p {
    font-size: 20px;
    font-family: lato;
    font-weight: 500;
    line-height: 150%;
    padding-top: 25px;
}

@media (min-width: 320px) and (max-width: 991px) {
    .banner {
        width: 100%;
        height: 40em;
        background-color: var(--main-color);
    }
    .banner-text>header,
    .banner-text>p {
        color: white;
    }
    .banner-text>header {
        font-size: 50px;
    }
    img {
        display: none;
    }
    .parent {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 15px;
    }
    .right>p {
        width: 100%;
    }
    .left>p {
        width: 100%;
    }
    .pricing {
        background-color: #fff;
        color: var(--main-color)
    }
    .works {
        margin-top: 41px;
    }
    .left>p {
        line-height: 100%;
        font-size: 55px;
    }
}